[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/goo-issuance"]
	path = lib/goo-issuance
	url = https://github.com/transmissions11/goo-issuance
[submodule "lib/VRGDAs"]
	path = lib/VRGDAs
	url = https://github.com/transmissions11/VRGDAs
